<mat-card class="text-detail-mat-card">
    <form class="text-detail-form">
        <mat-form-field>
            <input matInput [placeholder]="'DETAIL.ID' | translate" [(ngModel)]="text.id" type="text" readonly name="id">
        </mat-form-field>
        <mat-form-field>
            <input matInput [placeholder]="'DETAIL.TEXT' | translate" [(ngModel)]="text.text" type="text" required name="text">
        </mat-form-field>
        <mat-card-actions>
            <span class="text-detail-spacer"></span>
            <button mat-button (click)="accept()">{{'DETAIL.ACCEPT' | translate }}</button>
            <button mat-button (click)="cancel()">{{'DETAIL.CANCEL' | translate }}</button>
            <button mat-button (click)="remove()">{{'DETAIL.REMOVE' | translate }}</button>
        </mat-card-actions>
    </form>
</mat-card>