<md-list>
    <md-list-item class="page1-md-list-item" (click)="goTexts()">
        <img class="material-icons" src="./assets/img/SQLite.svg" width="120" />
        <span class="page1-spacer"></span>
        <span>{{ 'PAGE1.SQLITE' | translate }}</span>
        <span class="page1-spacer"></span>
       <button md-icon-button (click)="goTexts()">
            <img class="material-icons" src="./assets/img/ic_keyboard_arrow_right_black_24px.svg" width="24" />
        </button>
    </md-list-item>
</md-list>