<md-toolbar class="header-toolbar">
  <button md-icon-button (click)="start()">
        <img class="material-icons" [src]="icon"/>
  </button>
  <span>{{title}}</span>
  <span class="app-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
            <img class="material-icons" src="./assets/img/ic_more_vert_black_24px.svg"/>
          </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="changeLan('en')">
      <span>en</span>
    </button>
    <button md-menu-item (click)="changeLan('es')"> 
      <span>es</span>
    </button>
  </md-menu>
</md-toolbar>
<md-sidenav-container fullscreen class="app-content">
  <md-sidenav #sidenav class="app-sidenav" mode="over">
    <app-menu></app-menu>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>