<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="start()">
        <img class="material-icons" [src]="icon"/>
  </button>
  <span>{{title}}</span>
  <span class="app-spacer"></span>

  <button mat-icon-button (click)="add()" *ngIf="altaText">
      <img class="material-icons" src="./assets/img/ic_add_white_24px.svg"/>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
            <img class="material-icons" src="./assets/img/ic_more_vert_white_24px.svg"/>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLan('en')">
      <span>en</span>
    </button>
    <button mat-menu-item (click)="changeLan('es')"> 
      <span>es</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container autosize class="app-content">
  <mat-drawer #sidenav class="app-sidenav" mode="sid">
    <app-menu></app-menu>
  </mat-drawer>
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</mat-drawer-container>