.header-toolbar {
    background-color: #2893cb;
    color: white;
    padding: 0 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.app-content {
    background-color: white;
    top: 56px !important;
    height: calc(100vh - 56px);
}

.app-sidenav {
    padding: 20px;
    transition: all .2s ease-out;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.app-spacer {
    flex: 1 1 auto;
}